

_camera_init:

CAMERA_EYE = -1.0, 0.0, 0.0
CAMERA_CENTER = 0.0, 0.0, 0.0
CAMERA_UP = 0.0, 0.0, 1.0
CAMERA_FOV = 60.0
CAMERA_HEIGHT = 480
CAMERA_WIDTH = 640

end


_trace_init:

_rotation_with_in_horizontal_plane_init:
dis = 25
range = -180
frame = 60
end

end